
form {
    font-size: 20px;
    width: 100%;
}

#submit {
	color: black;
}

.toplogo {
    width: 370px;
    margin-left: 20px;
    margin-top: 10px;
}

.toplogo:hover{
	opacity: .8;
}

.toplogo:active{
	opacity: 1;
}

#inputCard {
	align-content: center;
	border-radius: 10px;
	text-align: center;
}

.main {
	background-color: #eeeeee;
	font-family: 'Open Sans Condensed', sans-serif;
}

.logo{
	width: 200px;
	margin-top: 30px;	
}

.appDescription {
	font-family: 'Special Elite', cursive;
	font-size: 30px;
	text-align: center;

}

.picker__date-display {
	background-color: #cfd8dc;
	color: black;
}
.picker__year-display {
	color: #000000;
}

div.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted {
        background-color: #cfd8dc;
    }

button.picker__today, button.picker__close {
        color: black;
}

.card {
	width: 300px;
}

.datepicker {
	text-align: center;
}

#musicIcon{
	margin: 15px;
	width: 300px;
	border-radius: 10px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#musicIcon:hover{
	opacity: .8;
}

#musicIcon:active{
	opacity: 1;
}

#fashionIcon{
	margin: 15px;
	width: 300px;
	border-radius: 10px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#fashionIcon:hover{
	opacity: .8;
}

#fashionIcon:active{
	opacity: 1;
}

#foodIcon{
	margin: 15px;
	width: 300px;
	border-radius: 10px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#foodIcon:hover{
	opacity: .8;
}

#foodIcon:active{
	opacity: 1;
}

.birthday-display {
	text-align: center;
	margin-top: 0px;
	padding-top: 0px;
	font-family: 'Special Elite', cursive;
}

#results-page {
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
}

#music-page {
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
}

#musicID {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#fashions-page {
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
}

#foods-page {
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
}

#bingimg {
	border-radius: 10px;
	max-width: 500px;
	max-height: 300px;
	margin: 5px;
}

#goback {
	margin-bottom: 20px;
	color: #000000;
}