
form {
    font-size: 20px;
    width: 100%;
}

#submit {
	color: black;
}

.toplogo {
    width: 120px;
}

#inputCard {
	align-content: center;
	border-radius: 10px;
	text-align: center;
}

.main {
	background-color: #EEEEEE;
	font-family: 'Open Sans Condensed', sans-serif;
}

.logo{
	width: 200px;
	margin-top: 30px;	
}

.picker__date-display {
	background-color: #cfd8dc;
	color: black;
}

div.picker__day.picker__day--infocus.picker__day--selected.picker__day--highlighted {
        background-color: #cfd8dc;
    }

    button.picker__today, button.picker__close {
        color: black;
    }

.card {
	width: 300px;
}

.datepicker {
	text-align: center;
}

#musicIcon{
	margin: 10px;
}

#fashionIcon{
	margin: 10px;
}

#foodIcon{
	margin: 10px;
}